@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/* For WEB250
Filename: default.css */

/* HTML Style */
html {
	background-color: rgb(179, 112, 112);
	font-family: Montserrat, Arial, sans-serif;
	color: rgb(80, 16, 16);
}

/* Header Style */
header nav {
	width:  100%;
}

header nav ul {
	padding-inline-start: 0px;
}

header nav ul li {
	display: block;
	float: left;
	position:relative;
	width: 25%;
	outline: 3px solid rgb(64, 12, 12);
	background-color: rgb(249, 225, 225)
}

header nav a {
	display:  block;
	text-align:  center;
}

header nav a:hover, header nav a:active {
	background-color: rgb(255,102,102);
	color: white;
}

/* Horizontal Rule Styles */
header hr {
	clear:  left;  
}

/* H1/H2 Styles */
h1, h2 {
	font-family: 'Playfair Display', Arial, sans-serif;
	color: rgb(64, 12, 12);
	text-align: center;
}

h1 {
	outline: 3px solid rgb(64, 12, 12);
	padding: 20px;
	background-color: rgb(249, 225, 225);
}

/* Body Style */
body {
	margin-left: 35%;
	margin-right: 35%;
}

/* Footer Style */
footer p {
	font-size: 100%;
	text-align: center;
}

footer nav {
	font-size: 100%;
	text-align: center;
}

/* Main Style */

main {
	outline: 3px solid rgb(64, 12, 12);
	padding-left: 1em;
	padding-right: 1em;
	background-color: rgb(249, 225, 225);
}

/* Paragraph Style */
p {
	font-size: 110%;
}

p#tagline {
	font-style: italic;
}

/* Link Styles */
a {
	color: rgb(150, 37, 0);
}

a:visited {
	color: rgb(150, 0, 0);
}

a#validation_link_html, a#validation_link_css {
	text-decoration: none;
}

/* List Styles */
ul {
	list-style-position: inside;
	text-align: left;
}

/* Caption Styles */
figcaption {
	font-style: italic;
	text-align: center;
}

/* Image Styles */
figure img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}